/* Various global styles used throughout the app */

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(@/assets/material-icons-outlined.woff2) format('woff2');
}
.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

  /* active tab */
  .v-btn.v-slide-group-item--active.v-tab--selected {
    background: rgb(var(--v-theme-primary));
    color: rgb(var(--v-theme-on-primary));
  }

  /* inactive tab */
  .v-tabs--grow .v-tab {
    background: rgba(var(--v-theme-primary), 0.3);
    color: rgb(var(--v-theme-text-color));
  }

  a {
    cursor: pointer;
  }
  .vertical-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right {
    float: right;
  }
  
  .left {
    float: left;
  }
  
  div.v-navigation-drawer__scrim {
    opacity: 0.8;
    background: grey;
  }

  .padded-overlay .v-overlay__content {
    padding: 50px;
  }
  .v-overlay__scrim {
    opacity: 65%;
  }
  
  
  .hiresicon {
    position: absolute;
    margin-left: 5px;
    margin-top: -20px;
    height: 30px;
    border-radius: 5px;
  }
  
  .listitem-actions {
    display: flex;
    justify-content: end;
    width: auto;
    height: 50px;
    vertical-align: middle;
    align-items: center;
    padding: 0px;
    padding-right: 0px;
    margin-right: 0px;
  }
  .listitem-action {
    padding-left: 5px;
  }
  .listitem-thumb {
    padding-left: 0px;
    margin-right: 10px;
    margin-left: -15px;
    margin-top: 2px;
    width: 50px;
    height: 50px;
  }
  .v-card--variant-elevated {
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    font-size: smaller;
  }
  .line-clamp-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .line-clamp-2 {
    white-space: pre-line;
    overflow: hidden;
    line-height: 1.5em;
    height: 3em;
    word-wrap: break-word;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
  .v-card-text {
    /* align listitem contextmenu as far right as possible */
    padding-right: 0;
  }

/* ThumbView panel columns */
  .col-2 {
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-3 {
    width: 33.3%;
    max-width: 33.3%;
    flex-basis: 33.3%;
  }
  .col-4 {
    width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-5 {
    width: 20%;
    max-width: 20%;
    flex-basis: 20%;
  }
  .col-6 {
    width: 16.6%;
    max-width: 16.6%;
    flex-basis: 16.6%;
  }
  .col-7 {
    width: 14.2%;
    max-width: 14.2%;
    flex-basis: 14.2%;
  }
  .col-8 {
    width: 12.5%;
    max-width: 12.5%;
    flex-basis: 12.5%;
  }
  .col-9 {
    width: 11.1%;
    max-width: 11.1%;
    flex-basis: 11.1%;
  }

.line-clamp-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp-2 {
  white-space: pre-line;
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
  word-wrap: break-word;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.small-icon {
  font-size: 22px;
  height: 22px;
  width: 22px;
}

.small-btn {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.large-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.large-btn {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.v-list-item-subtitle {
font-weight: 400;
font-size: 0.6875rem;
line-height: 17.6px;
}

.v-list-item-title {
font-weight: 400;
font-size: 0.875rem;
line-height: 22.4px;
}

.v-input--horizontal .v-input__prepend {
  margin-inline-end: 8px;
}

.v-list-item--density-default:not(.v-list-item--nav).v-list-item--two-line {
  padding-inline-start: 8px;
}

.v-toolbar__content {
  height: 100% !important;
}