/* Various global styles used throughout the app */

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(@/assets/material-icons-outlined.woff2) format('woff2');
}

@font-face {
  font-family: "JetBrains Mono Medium";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url(@/assets/JetBrainsMono-Medium.woff2) format("woff2");
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  overflow: hidden;
}

* {
  -webkit-user-drag: none; /* iOS Safari */
  -khtml-user-drag: none; /* Konqueror HTML */
  -moz-user-drag: none; /* Old versions of Firefox */
  -o-user-drag: none; /* Internet Explorer/Edge */
  user-drag: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

a {
  cursor: pointer;
}

.vertical-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.listitem-media-thumb {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}


.line-clamp-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp-2 {
  white-space: pre-line;
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
  word-wrap: break-word;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.small-icon {
  font-size: 22px;
  height: 22px;
  width: 22px;
}

.small-btn {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.large-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.large-btn {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.flicking-camera {
  display: flex !important;
}



h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

.mh1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.mh2 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.mh3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.mh4 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.mh5 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.mh6 {
  margin-top: 1rem;
  margin-bottom: 0;
}
